.item1 { grid-area: header; }
.item2 { grid-area: menu; text-align: center;}
.item5 { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'menu menu menu menu menu menu'
  'footer footer footer footer footer footer';
grid-gap: 10px;
/*background-color: #2196F3;*/
padding: 10px;
}

.grid-container > .item1,.item2,.item3,.item4,.item5 {
  background-color: rgba(255, 255, 255, 255);
  font-size: 30px;


}

/*SETOR DE PESQUISA, LOGIN E CADASTRO*/
#barrapesquisa{
  width: 60%;
}

.topo{
  background-color: #7C0A99;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;

}
.pesquisar{
  width: 50%;
  display: inline-block;
  padding-bottom: 1%;
  padding-left: 20%;
  /*border: 1px solid black;*/
}
.btnpesquisa{
  display: inline-block;
  position: absolute;
  padding-top: 0.4%;
  padding-left: 0.4%;

}
.usuario{
  right: 1.4%;
  display: inline-block;
  position: fixed;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 1px solid black;
  background-color: #5F0B74;
}
.opcoes{
    background-color: #7C0A99;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

}
.opcoes > a{
    text-decoration: none;
    font-family: ubuntu;
    color: white;
}
.opcoes > a:hover{
    text-decoration: none;
    font-family: ubuntu;
    color: black;
}
