:root {

--salmao: #FF6361;
--salmao-apagado: #FFADAD;
--salmao-apagado-fg: #4D4D4D;

--rosa-lilas: #BC5090;

--azul-roxo: #58508D;

--azul-forte: #003F5C;

--verde: #41c936;

--laranja: #ea8000;

--vermelho: #c93636;

}
