/*
    Nas telas 10, 11, 12 e 13:
    [ USUÁRIOS ] = "desativado"
    [ PRODUTOS ] = "ativado"
*/

@import "cores.css";


#usuarios a {
    background-color: var(--salmao-apagado);
    color: var(--salmao-apagado-fg);
}

#produtos a {
    background-color: var(--salmao);
    color: white;
}
