/*
    Cabecalho com logo, usuarios, produtos, perfil e sair.
    Não inclui o swap entre categorias e usuarios-produtos;
*/


#usuarios, #produtos {
    display: none;
}

#usuarios {
    grid-area: usuarios;
}

#produtos {
    grid-area: produtos;
}

#opcoes {
    grid-area: opcoes;
    display: initial;
}

#logo {
    grid-area: logo;
}

#perfil {
    grid-area: perfil;
}

#sair {
    grid-area: sair;
}


@media (min-width: 1000px) {

    #usuarios, #produtos {
        display: initial;
    }

    #opcoes {
        display: none;
    }

}
