/*
    Regras mais gerais possíveis para as telas.
*/

* {
    text-align: center;
}



.grid-conteiner {
    display: grid;
    max-height: 100vh;
}


#tela {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-rows: 20% auto;
}


@media (min-width: 1000px) {

    #tela {
        grid-template-rows: 20% auto;
        border: 1px solid black;
    }

}
