/*
    Complemento do cabeçalho para as telas 10 e 11.
    Inclui barra de pesquisa.
    Inclui grid-template do <header> com a barra de pesquisa.
    Algumas regras de grid para a <main> também.
    Inclui tamanho da logo.
    Inclui tamanho do ícone de opções.
*/


#usuarios > button {
    padding: 0.8vh 5.23vw;
}

#produtos > button {
    padding: 0.8vh 4.9vw;
}

#sair > button {
    padding: 1.5vh 5.5vw;
}


#pesquisa {
    grid-area: pesquisa;
}

#pesquisa > input {
    color: black;
    text-align: left;

    width: 98vw;
    height: 90%;

    padding: 0 3%;

    border: 1vmin solid gray;
}

header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 30%;
    grid-template-areas: "opcoes logo perfil"
                         "opcoes logo sair"
                         "pesquisa pesquisa pesquisa";
}

#opcoes > img {
    max-width: 13vw;
    max-height: 27vh;
}

#logo > img {
    max-width: 47vw;
    max-height: 20vh;
}

#perfil > img {
    max-width: 27vw;
    max-height: 20vh;
}


main {
    grid-template-rows: auto 10%;
    grid-template-columns: 100%;
    grid-gap: 2.5%;
}

#tabela {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    /* overflow-y: auto; */
}

#novo-produto {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;

    justify-content: center;
    align-items: center;
}

#novo-produto > button {
    background-color: #41c936;
    color: white;

    padding: 1vh 20vw;
}


@media (min-width: 1000px) {

    #pesquisa > input {
        padding: 0.9% 2%;

        border: 0.5vmin solid gray;
    }

    header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "logo usuarios perfil sair"
                             "logo produtos perfil sair"
                             "pesquisa pesquisa pesquisa pesquisa";
    }

    #logo > img {
        max-width: 22vw;
        max-height: 13.2vh;
    }

    #perfil > img {
        max-width: 22vw;
        max-height: 13.2vh;
    }


    #novo-produto > button {
        background-color: #41c936;
        color: white;

        padding: 1.5vh 30vw;
    }

}
