/*
    Cabecalho das telas 1 e 6.
    Contém logo, pesquisa, cadastro-login/perfil-sair.
    Faz swap entre categorias e barra-categorias.
 */


#logo {
    grid-area: logo;
}

#cadastro {
    grid-area: cadastro;
    margin: 8px;

}

#login {
    grid-area: login;
    margin: 8px;


}

#perfil {
    grid-area: perfil;
}

#sair {
    grid-area: sair;
    margin: 8px;

}

#pesquisa {
    grid-area: pesquisa;
    margin-top: 10px;
}

#categorias {
    display: initial;
    grid-area: categorias;
}

#barra-categorias {
    display: none;
    grid-area: barra;
}
#cadastro > a > img{
    width: 50px;
    height: 50px;
}
#login > a > img{
    width: 50px;
    height: 50px;
}
#perfil > a > img{
    width: 50px;
    height: 50px;


}
#sair > a > img{
    width: 50px;
    height: 50px;

}


header {
    grid-template-rows: auto 30% auto;
    grid-template-columns: 20% auto 30%;
}


main {
    grid-auto-rows: auto;
    grid-gap: 3%;
}


@media (min-width: 1000px) {

    #categorias {
        display: none;
    }

    #barra-categorias {
        display: initial;
    }


    header {
        grid-template-rows: 60% auto;
        grid-template-columns: 25% 45% auto auto;
    }



    main {
        grid-template-columns: auto auto auto auto;
    }


}
