/*
    Define grid-area dos elementos logo, usuarios, produtos, perfil e sair (do cabeçalho).
    Swap de display entre opcoes e usuarios-produtos.
    Regras gerais para <div>s do header também.
*/

img, input[type="image"] {
    border: 1px solid red;
}

/* header > div, */main > div {
    border: 1px solid blue;
}


#sair > button {
    background-color: #BC5090;
    color: white;
}


header > div {
    display: grid;
    justify-content: center;
    align-items: center;
}

#usuarios, #produtos {
    display: none;
}

#opcoes {
    grid-area: opcoes;
    display: grid;
}

#usuarios {
    grid-area: usuarios;
}

#produtos {
    grid-area: produtos;
}


#logo {
    grid-area: logo;
}

#perfil {
    grid-area: perfil;
}

#sair {
    grid-area: sair;
}


@media (min-width: 1000px) {

    #usuarios, #produtos {
        display: grid;
    }

    #opcoes {
        display: none;
    }

}
