/*
    Cabecalho das telas 1 e 6.
    Contém logo, pesquisa, cadastro-login/perfil-sair.
    Faz swap entre categorias e barra-categorias.
 */


#logo {
    grid-area: logo;

}



#perfil {
    grid-area: perfil;
    margin: 8px;
    border: 1px solid black;
    height: 11vh;

}

#sair {
    grid-area: sair;
    margin: 8px;
    border: 1px solid black;
    height: 11vh;

}

#pesquisa {
    grid-area: pesquisa;
}

#categorias {
    display: initial;
    grid-area: categorias;

}

#barra-categorias {
    display: none;
    grid-area: barra;
    background-color: #58508D;
    margin-top: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

header {
    grid-template-rows: auto 30% auto;
    grid-template-columns: 20% auto 30%;
    border: 1px solid black;
}


main {
    grid-auto-rows: auto;
    grid-gap: 3%;
    margin: 7px;
    margin-top: 30px;

}
main > div{
    border: 1px solid black;
}

#barra-categorias > nav{
    margin: 10px;
}

#cadastro > a > img{
    max-width: 100vw;
    height: 50px;
    margin: 3px;


}
#login > a > img{
    max-width: 50px;
    height: 50px;

}
#perfil > a > img{
    width: 60px;
    height: 68px;


}
#sair > a > img{
    width: 60px;
    height: 68px;


}

/* -------------------------------- */

@media (min-width: 1000px) {

    #categorias {
        display: none;
    }

    #barra-categorias {
        display: initial;

    }
    #barra-categorias > nav > a{
        font-size: 20px;
        font-family: Ubuntu;
        color: #fff;
        max-width: 100vw;
        margin: 9px;
        padding-left: 10px;
        padding-right: 20px;

    }


    header {
        grid-template-rows: 80% auto;
        grid-template-columns: 25% 45% auto auto;
    }

    main {
        grid-template-columns: auto auto auto auto;
    }

    #cadastro {
        grid-area: cadastro;
        border: 1px solid black;
        max-height: 100vh;
        padding-top: 30px;


    }

    #login {
        grid-area: login;
        border: 1px solid black;
        max-height: 100vh;
        padding-top: 30px;


    }
}
@media (max-width: 1000px) {

  #cadastro > a > img{
      display: none;
  }
  #login > a > img{
      display: none;

  }



}
