/*
    Faz o swap entre categorias e usuarios-produtos.
    Inclui pesquisa.
*/


#pesquisa {
    grid-area: pesquisa;
}

header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 30%;
    grid-template-areas: "opcoes logo perfil"
                         "opcoes logo sair"
                         "pesquisa pesquisa pesquisa";
}


main {
    grid-template-rows: auto 10%;
    grid-template-columns: 100%;
    grid-gap: 5%;
}


@media (min-width: 1000px) {

    header {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "logo usuarios perfil sair"
                             "logo produtos perfil sair"
                             "pesquisa pesquisa pesquisa pesquisa";
    }

}
