/*
    Regras mais gerais possíveis para as telas.
*/

* {
    text-align: center;
}


.grid-conteiner {
    display: grid;
}


#tela {
    width: 100vw;
    height: 100vh;
    border: 1px solid yellow;
    overflow: auto;

    grid-template-rows: 30% auto;
    grid-row-gap: 3%;

    background: moccasin;
}

header > div, main > div {
    border: 1px solid;
    background: lightgreen;
}


@media (min-width: 1000px) {

    #tela {
        grid-template-rows: 20% auto;
    }

}
