/*
    Parte da <main> para as telas 12 e 13.
    Exceto a parte de "envio", que não é comum.
*/

#titulo {
    grid-area: titulo;

    justify-content: center;
    align-content: center;
}

h1 {
    font-weight: bold;

    padding: 1vh 15vw;

    border: 3px solid;
}

input[type="text"], label {
    margin: 2% 0;
}

input[type="text"], textarea, input[type="image"] {
    border: 2px solid black;
}

input[type="text"], textarea {
    padding: 0 3vw;

    text-align: justify;
}

label {

    text-align: right;

    margin-right: 3%;
}

#i-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    grid-area: img;
}

#l-codigo { grid-area: l-codigo; }
#i-codigo { grid-area: i-codigo; }

#l-nome { grid-area: l-nome; }
#i-nome { grid-area: i-nome; }

#l-valor { grid-area: l-valor; }
#i-valor { grid-area: i-valor; }

#l-tipo { grid-area: l-tipo; }
#i-tipo { grid-area: i-tipo; }

#l-categoria { grid-area: l-categoria; }
#i-categoria { grid-area: i-categoria; }

#l-fabricacao { grid-area: l-fabricacao; }
#i-fabricacao { grid-area: i-fabricacao; }

#l-validade { grid-area: l-validade; }
#i-validade { grid-area: i-validade; }

#l-descricao { grid-area: l-descricao; }
#i-descricao { grid-area: i-descricao; }

#formulario {
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto;

    grid-template-areas: "img img"
                         "l-codigo i-codigo"
                         "l-nome i-nome"
                         "l-valor i-valor"
                         "l-tipo i-tipo"
                         "l-categoria i-categoria"
                         "l-fabricacao i-fabricacao"
                         "l-validade i-validade"
                         "l-descricao i-descricao";

    grid-area: formulario;

    padding: 1vmin;
}

#envio {
    grid-area: envio;

    align-content: center;
}



main {
    grid-template-rows: 10% 90% 10%;
    grid-template-columns: 100%;

    grid-template-areas: "titulo"
                         "formulario"
                         "envio";
}

#form {
    display: none;
}


@media (min-width: 1000px) {

    h1 {
        padding: 1vh 30vw;
    }

    #i-img {
        width: 150px;
        height: 150px;
    }

    #formulario {
        /* grid-template-rows: auto auto auto auto auto auto auto; */
        grid-template-rows: calc(100% / 7) calc(100% / 7) calc(100% / 7)
                            calc(100% / 7) calc(100% / 7) calc(100% / 7)
                            calc(100% / 7);
        grid-template-columns: 15% auto 15% auto;

        grid-template-areas: "l-codigo i-codigo . img"
                             "l-nome i-nome . img"
                             "l-valor i-valor . img"
                             "l-tipo i-tipo l-categoria i-categoria"
                             "l-fabricacao i-fabricacao l-validade i-validade"
                             "l-descricao i-descricao i-descricao i-descricao"
                             "l-descricao i-descricao i-descricao i-descricao";

        grid-area: formulario;
    }

}
