/*
    Nas telas 10, 11, 12 e 13:
    [ USUÁRIOS ] = "desativado"
    [ PRODUTOS ] = "ativado"
*/

#usuarios a {
    background-color: #FFADAD;
    color: #4D4D4D;
}

#produtos a {
    background-color: #FF6361;
    color: white;
}
