.grid-conteiner {
    display: grid;
}
main{
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "imagem nome nome"
                         "imagem preco descricao";
}

.imagem {
    grid-area: imagem;
}
.nome {
    grid-area: nome;
}
.preco {
    grid-area: preco;
}
.descricao {
    grid-area: descricao;
}
