#tela {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    grid-template-rows: 35% auto;
    grid-row-gap: 3%;

    background: moccasin;
}


#pesquisa {
    grid-area: pesquisa;
}

#categorias {
    grid-area: categorias;
    display: none;
}

header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 30%;
    grid-template-areas: "opcoes logo perfil"
                         "opcoes logo sair"
                         "pesquisa pesquisa pesquisa";
}

@media (min-width: 1000px) {

    #tela {
        width: 100vw;
        height: 100vh;
        overflow: auto;

        grid-template-rows: 25% auto;
        grid-row-gap: 3%;

        background: moccasin;
    }


    #categorias {
        display: initial;
    }

    header {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "logo usuarios perfil sair"
                             "logo produtos perfil sair"
                             "pesquisa pesquisa pesquisa pesquisa"
                             "categorias categorias categorias categorias";
    }

}
