.grid-conteiner{
  width: 100vw;
  height: 100vh;
  background: #8B008B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.cadastro {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 2%;
}

@media (min-width: 1000px) {

  .cadastro {
    width: 400px;
    height: 500px;
    background: #ffffff;
    border-radius: 2%;
  }

}
