.grid-conteiner{
  width: 100vw;
  height: 100vh;
  background: #8B008B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 2%;
  border: 1px solid black;
}


.entrada{
  height: 50%;
  padding-top: 15px;

}
.logo{
  margin-top: 1%;
  text-align: center;
  border-bottom: 2px solid black;
}
img{
  width:250px;
  height:125px;
}
#usuario,#senha{
  margin: 2%;
  width: 60%;
  height: 15%;
  border: 1px solid gray;
  font-family: Ubuntu;
  border-radius: 1px;
}
#usuario:hover,#senha:hover{
  background-color: #e0bcdd;

}
button{
  color: white;
  font-size: 25px;
  font-family: Ubuntu;
  width: 180px;
  border-radius: 2px;
  background-color: #8B008B;
  margin-top: 15px;
}


@media (min-width: 1000px) {

  .login {
    width: 400px;
    height: 400px;
    background: #ffffff;
    border-radius: 2%;
  }
  img{
    width:300px;
    height:150px;
  }
  button{
    color: white;
    font-size: 30px;
    font-family: Ubuntu;
    width: 240px;
    border-radius: 2px;
    background-color: #8B008B;
    margin-top: 30px;
  }

}
