@import "cores.css";

#usuarios a {
    background-color: var(--salmao);
    color: white;
}

#produtos a {
    background-color: var(--salmao-apagado);
    color: var(--salmao-apagado-fg);
}



main {
    grid-template-columns: 100%;
}

table {
    width: 100%;

    border-collapse: collapse;

    font-size: 0.8em;
}

tbody {
    border: 1px solid;
}

th, td {
    padding: 1vh 2vw;
}

th {
    background-color: var(--azul-roxo);
    color: white;
}

td {
    vertical-align: middle;
    border-bottom: 1px solid black;
}

tr:last-child > td {
    border: 0;
}


td img {
    max-width: 30px;
    max-height: 30px;
}

@media (min-width: 1000px) {

    table {
        font-size: 1em;
    }

    main {
        grid-template-columns: 90%;
        justify-content: center;
    }

}
