header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 30%;
    grid-template-areas: "categorias logo cadastro"
                         "categorias logo login"
                         "pesquisa pesquisa pesquisa";

    background: green;
}

@media (min-width: 1000px) {

    header {
        grid-template-rows: 60% auto;
        grid-template-columns: 25% 45% auto auto;
        grid-template-areas: "logo pesquisa cadastro login"
                             "barra barra barra barra";

        background: green;
    }

}
