@import "cores.css";


h1 {
    color: var(--verde);
    border-color: var(--verde);
}

#i-cadastrar {
    background-color: var(--verde);
    color: white;

    padding: 1vh 20vw;
}

#envio {
    justify-content: center;
}
