table {
    border-collapse: collapse;
}

th, td {
    padding: 1vmin 1vmin;
    border-bottom: 1px solid;
}

#tabela-mobile {
    display: initial;
}

#tabela-desktop {
    display: none;
}


@media (min-width: 1000px) {
    #tabela-mobile {
        display: none;
    }

    #tabela-desktop {
        display: initial;
    }
}
