header {
    grid-template-areas: "categorias logo perfil"
                         "categorias logo sair"
                         "pesquisa pesquisa pesquisa";
}

#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:15px;
    width:100%;
    display: inline-block;
    margin-top: 3%;

}

img{
    margin-top: 6px;
}

@media (min-width: 1000px) {

    header {
        grid-template-areas: "logo pesquisa perfil sair"
                             "barra barra barra barra";
    }
    #divBusca{
        background-color: white;
        border:solid 1px;
        border-radius:15px;
        width:400px;
        display: inline-block;
        margin-top: 4%;

    }

}
