@import "cores.css"; 


#usuarios a {
    background-color: var(--salmao-apagado);
    color: var(--salmao-apagado-fg);
}

#produtos a {
    background-color: var(--salmao-apagado);
    color: var(--salmao-apagado-fg);
}
