#usuarios > a {
    background-color: #FF6361;
    color: white;
}

#produtos > a {
    background-color: #FFADAD;
    color: #4D4D4D;
}



main {
    grid-template-columns: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    border: 1px solid;
}

th, td {
    padding: 1vh 2vw;
}

th {
    background-color: #58508D;
    color: white;
}

td {
    vertical-align: middle;
    border-bottom: 1px solid black;
}

tr:last-child > td {
    border: 0;
}


td img {
    max-width: 30px;
    max-height: 30px;
}

@media (min-width: 1000px) {

    main {
        grid-template-columns: 90%;
        justify-content: center;
    }

}
