h1 {
    color: var(--laranja);
    border-color: var(--laranja);
}


#envio {
    grid-template-columns: auto auto;
    grid-column-gap: 5%;

    justify-content: center;
    align-content: center;
}

#i-excluir, #i-alterar {
    padding: 1vh 10vw;
}

#i-excluir {
    background-color: var(--vermelho);
    color: white;

    grid-column: 1 / 2;
}

#i-alterar {
    background-color: var(--laranja);
    color: white;

    grid-column: 2 / 3;
}

@media (min-width: 1000px) {

    #i-excluir, #i-alterar {
        padding: 1vh 15vw;
    }

}
