.grid-conteiner{
  width: 100vw;
  height: 100vh;
  background: #8B008B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.cadastro {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 2%;
}


.entrada{
  height: 50%;
  text-align: center;
}
.logo{
  margin-top: 1%;
}
img{
  width:300px;
  height:150px;
}
#usuario,#senha,#email,#confirmasenha{
  margin-top: 20px;
  width: 60%;
  height: 15%;
  border: 1px solid gray;
  font-family: Ubuntu;
  border-radius: 1px;
}
#usuario:hover,#senha:hover,#email:hover,#confirmasenha:hover{
  background-color: #e0bcdd;

}

@media (min-width: 1000px) {

  .cadastro {
    width: 400px;
    height: 500px;
    background: #ffffff;
    border-radius: 2%;
    text-align: center;
    border: 1px solid black
  }
  .logo{
    text-align: center;
    width:400px;
    height:200px;
    border-bottom: 2px solid black;
  }
  .logo > img{
    margin: 30px;
  }

  .textos{

      width: 160px;
      display: inline-block;
      text-align: right;
  }
  p{
      padding-top: 40px;
      font-family: Ubuntu;

  }
  .entrada{

      width: 200px;
      display: inline-block;
      text-align: left;
  }


}
