/*
    Grid-template do header dos elementos.
    Define grid-area dos elementos logo, usuarios, produtos, perfil, sair e pesquisa.
    O display da pesquisa aparece em outros arquivos.
    Swap de display entre opcoes e usuarios-produtos.
    Regras gerais para <div>s do header também.
*/


@import "cores.css";


#opcoes {
    display: grid;

    grid-area: opcoes;
}

#usuarios {
    grid-area: usuarios;
}

#produtos {
    grid-area: produtos;
}


#logo {
    grid-area: logo;
}

#perfil {
    grid-area: perfil;
}

#sair {
    grid-area: sair;
}

#pesquisa {
    grid-area: pesquisa;
}


header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 30%;
    grid-template-areas: "opcoes logo perfil"
                         "opcoes logo sair"
                         "pesquisa pesquisa pesquisa";
}

header > div {
    display: grid;
    justify-content: center;
    align-items: center;
}


#pesquisa input {
    text-align: left;

    font-size: calc(1.5vh + 2.5vw);

    width: 98vw;
    height: 90%;

    padding: 0 3vw;

    border: 1vmin solid gray;
}


#usuarios a {
    padding: 0.8vh 5.23vw;
}

#produtos a {
    padding: 0.8vh 4.9vw;
}

#sair a {
    font-size: calc(2vh + 2vw);

    padding: 1.5vh 5.5vw;

    background-color: var(--rosa-lilas);
    color: white;
}


#opcoes img {
    max-width: 13vw;
    max-height: 27vh;
}

#logo img {
    max-width: 47vw;
    max-height: 20vh;
}

#perfil img {
    max-width: 27vw;
    max-height: 20vh;
}


#usuarios, #produtos {
    display: none;
}


@media (min-width: 1000px) {

    header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "logo usuarios perfil sair"
                             "logo produtos perfil sair"
                             "pesquisa pesquisa pesquisa pesquisa";
    }


    #pesquisa input {
        font-size: calc(1.4vh + 1vw);

        padding: 1.5vh 2vw;

        border: 0.5vmin solid gray;
    }


    #sair a {
        font-size: 1em;
    }


    #logo img {
        max-width: 22vw;
        max-height: 13.2vh;
    }

    #perfil img {
        max-width: 22vw;
        max-height: 13.2vh;
    }


    #usuarios, #produtos {
        display: grid;
    }

    #opcoes {
        display: none;
    }

}
