/*
    Complemento do cabeçalho para as telas 10 e 11.
    Inclui barra de pesquisa.
    Inclui grid-template do <header> com a barra de pesquisa.
    Algumas regras de grid para a <main> também.
    Inclui tamanho da logo.
    Inclui tamanho do ícone de opções.
*/


@import "cores.css";


#pesquisa {
    visibility: visible;
}


#usuarios a {
    padding: 0.8vh 5.23vw;
}

#produtos a {
    padding: 0.8vh 4.9vw;
}

#sair a {
    padding: 1.5vh 5.5vw;
}


#opcoes img {
    max-width: 13vw;
    max-height: 27vh;
}

#logo img {
    max-width: 47vw;
    max-height: 20vh;
}

#perfil img {
    max-width: 27vw;
    max-height: 20vh;
}


main {
    grid-template-rows: auto 10%;
    grid-template-columns: 100%;
    grid-gap: 2.5%;
}

#tabela {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    /* overflow-y: auto; */
}

#novo-produto {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;

    justify-content: center;
    align-items: center;
}

#novo-produto a {
    background-color: var(--verde);
    color: white;

    padding: 1vh 12vw;
    max-width: 95vw;
}


@media (min-width: 1000px) {

    #logo img {
        max-width: 22vw;
        max-height: 13.2vh;
    }

    #perfil img {
        max-width: 22vw;
        max-height: 13.2vh;
    }


    #novo-produto a {
        padding: 1.5vh 30vw;
        max-width: 85vw;
    }

}
