.grid-conteiner {
    display: grid;

}
main{
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "imagem nome nome"
                         "imagem preco descricao";
    margin: 2%;
    height: 70%;
}

.imagem {
    grid-area: imagem;
}
.nome {
    grid-area: nome;
}
.preco {
    grid-area: preco;
    margin-top: 50%;
}
.descricao {
    grid-area: descricao;
}

@media (max-width: 1200px) {

  main{
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "imagem nome nome"
                           "imagem preco descricao";
      margin: 2%;

  }
}
