/*
Estilo comum as telas 1,2,3,6,7,8,10 e 11
*/
main{
    padding-top: 20px;
}

#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    display: inline-block;
    height: 5vh;

}


#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    padding-top: 3px;
    font-style:italic;
    font-size:18px;
    border:none;
    width: 90%;
    text-align: left;
    color: gray;

}
.nome > h1{
    font-size: 40px;
    font-weight: bold;
    font-family: ubuntu;

}
.preco > h1{
    font-size: 40px;
    font-weight: bold;
    font-family: ubuntu;
    color: green;

}
.imagem > img{
    margin-top: 12%;
}

@media (min-width: 1000px) {

  .nome > h1{
      font-size: 20px;
      font-weight: bold;
      font-family: ubuntu;

  }
  .preco > h1{
      font-size: 20px;
      font-weight: bold;
      font-family: ubuntu;
      color: green;

  }
  .imagem > img{
      margin-top: 6%;
  }
}
