/*
    Cabecalho das telas 1 e 6.
    Contém logo, pesquisa, cadastro-login/perfil-sair.
    Faz swap entre categorias e barra-categorias.
 */


@import "cores.css";


#logo {
    grid-area: logo;

}


#perfil {
    grid-area: perfil;
    padding-top: 10px;
    border: 1px solid black;
    height: 126px;


}

#sair {
    grid-area: sair;
    padding-top: 20px;
    border: 1px solid black;
    height: 126px;


}

#pesquisa {
    grid-area: pesquisa;
}

#categorias {
    display: initial;
    grid-area: categorias;

}
#categorias > nav {
    display: initial;
}

#barra-categorias {
    display: none;
    grid-area: barra;
    background-color: var(--azul-roxo);
    margin-top: 15px;
    border-radius: 10px;
    margin-top: 30px;
}


header {


    border: 1px solid black;
}


main {
    /* grid-auto-flow: row; */
    grid-column-gap: 3%;
    margin: 7px;
  <<<<<<< HEAD
    margin-top: 30px;
  =======


}
>>>>>>> 7bde04919b05de011d47d2b57d70458fbdc4eaaf
main > div {
    border: 1px solid black;


}

#barra-categorias > nav{
    margin: 10px;
}

#cadastro > a > img {
    max-width: 100vw;
    height: 50px;
    margin: 3px;
}

div#login > a > img{
    max-width: 50px;
    height: 50px;
}

#perfil > a > img{
    width: 60px;
    height: 68px;
}

#sair > a > img{
    width: 60px;
    height: 68px;
}

/* -------------------------------- */

@media (min-width: 1000px) {

    #categorias {
        display: none;
    }

    #barra-categorias {
        display: initial;

    }
    #barra-categorias > nav > a{
        font-size: 20px;
        font-family: Ubuntu;
        color: #fff;
        max-width: 100vw;
        margin: 9px;
        padding-left: 10px;
        padding-right: 20px;

    }


    header {
        grid-template-rows: 80% auto;
        grid-template-columns: 25% 45% auto auto;
    }


    main {
        grid-template-columns: auto auto auto auto;
        grid-auto-flow: row;
        padding-top: 10px;
    }

    #cadastro {
        grid-area: cadastro;
        border: 1px solid black;
        max-height: 100vh;
        height: 126px;
        padding-top: 30px;


    }

    div#login {
        grid-area: login;
        border: 1px solid black;
        max-height: 100vh;
        height: 126px;
        padding-top: 30px;
    }
    .barra{
        display: none;
    }
}
@media (max-width: 1000px) {

  #cadastro > a > img{
      display: none;
  }
  div#login > a > img{
      display: none;

  }

  .barra{
      background-color: var(--azul-forte);
      height: 100%;
      width: 60%;
      position: absolute;
      transition: all .2s linear;


  }

  nav{
      width: 100%;
      position: absolute;

  }
  .link{
      background-color: #494950;
      padding: 20px;
      font-family: Ubuntu;
      font-size: 12pt;
      transition: all .2s linear;
      color: #fff;
      text-align: center;
      border-bottom: 2px solid var(--azul-forte);
  }
  .link:hover{
      background-color: #050542;
  }
  .barra{
      display: none;
  }
}
