/*
    Regras mais gerais possíveis para as telas.
*/

* {
    text-align: center;
}


.grid-conteiner {
    display: grid;
}


#divBusca{
    text-align: left;
}


#tela {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    grid-template-rows: 30% auto;
    grid-row-gap: 3%;
}


@media (min-width: 1000px) {

    #tela {
        grid-template-rows: 20% auto;
    }

}
