header {
    grid-template-areas: "categorias logo logo"
                         "categorias logo logo"
                         "pesquisa pesquisa pesquisa";
}
div[name="login"]{
    background-color: blue;
}
div[name="cadastro"]{
    background-color: blue;
}
#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:15px;
    width:95vw;
    height:30px;
    display: inline-block;
    margin-top: 10px;

}
#categorias > img {
    max-width: 10vw;
    max-height: 9vh;
    margin-top: 12px;
    margin-right: 10px;
}

#divBusca > img{
    margin-top: 3px;
}

#logo img {
    max-width: 47vw;
    max-height: 15vh;
    margin-top: 5px;
}




@media (min-width: 1000px) {

    header {
        grid-template-areas: "logo pesquisa cadastro login"
                             "barra barra barra barra";
    }
    #divBusca{
        background-color: white;
        border:solid 1px;
        border-radius:15px;
        width:40vw;
        height: 30px;
        display: inline-block;
        margin-top: 19px;

    }
    #logo img {
        max-width: 22vw;
        max-height: 11vh;
    }
    #divBusca > img{
        margin-top: 7px;
    }


}
