header {
    grid-template-areas: "categorias logo perfil"
                         "categorias logo sair"
                         "pesquisa pesquisa pesquisa";
}
#divBusca{
    background-color: white;
    border:solid 1px;
    border-radius:15px;
    width:95vw;
    height:30px;
    display: inline-block;
    margin-top: 10px;

}
#divBusca > input{
    display: absolute;
    text-align: left;
}
#categorias > img {
    max-width: 10vw;
    max-height: 9vh;
    margin-top: 12px;
    margin-right: 10px;
}

#divBusca > img{
    margin-top: 3px;

}

#logo img {
    max-width: 47vw;
    max-height: 15vh;
    margin-top: 5px;
}
#perfil > img{
    width: 5px;
    height: 5px;

}
#sair > img{
    width: 5px;
    height: 5px;
    border: 1px solid black;
}


@media (min-width: 1000px) {

    header {
        grid-template-areas: "logo pesquisa perfil sair"
                             "barra barra barra barra";
    }
    #divBusca{
        background-color: white;
        border:solid 1px;
        border-radius:15px;
        width:40vw;
        height: 30px;
        margin-top: 19px;
        padding-left:5px;
        border: 1px solid black;
    }

    #logo img {
        max-width: 22vw;
        max-height: 11vh;
    }
    #divBusca > img{
        margin-top: 7px;
    }
    h2[name="resultado"]{
        padding-top: 40px;
        padding-left: 15px;
        text-align: left;
        font-size: 30px;
        font-style: italic;
        color: gray;
    }


}
