@import "cores.css";


table {
    border-collapse: collapse;
}

tbody {
    border: 1px solid;
}

th, td {
    padding: 1vh 2vw;
}

th {
    background-color: var(--azul-roxo);
    color: white;
}

td {
    vertical-align: middle;
    border-bottom: 1px solid black;
}

tr:last-child > td {
    border: 0;
}


td img {
    max-width: 30px;
    max-height: 30px;
}


#tabela-mobile {
    display: initial;

    font-size: 0.8em;
}

#tabela-desktop {
    display: none;

    font-size: 1em;
}


@media (min-width: 1000px) {

    #tabela-mobile {
        display: none;
    }

    #tabela-desktop {
        display: initial;
    }
}
